
<h1>New Post</h1><br>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= fields_for :categories, @post.categories.build do |cat| %>
    <%= cat.label :name %>
    <%= cat.text_field :name %>
  <% end %>

  <%= f.submit %>
<% end %>